# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/

# VS Code settings
.vscode/

# Jupyter Notebook 
.ipynb_checkpoints

# Test logs and local files
*.log
*.tmp

# Distribution / packaging
build/
dist/
*.egg-info/

# Mac/Windows-specific
.DS_Store
Thumbs.db